<p *ngIf="!show" style="margin-left: 1rem;">
  Reporter cet étudiant
</p>
<p *ngIf="!show" style="margin-left: 1rem;">
  Bloquer cet étudiant
</p>
<p *ngIf="!show" style="margin-left: 1rem;">
  Reporter un problème
</p>


