<ion-tabs>
  <ion-tab-bar class="new-background-color" slot="bottom">
    <ion-tab-button tab="home">
        <ion-icon color="light" name="calendar-outline"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="search">
        <ion-icon color="light" name="calendar-outline"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="list">
        <ion-icon color="light" name="school-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="message">
        <ion-icon color="light" name="chatbubbles-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon color="light" name="person"></ion-icon>
      </ion-tab-button>
  </ion-tab-bar>        
</ion-tabs>
