.new-background-color{
    --background: #000000;
    color: white;
  }

.segment-button-checked{
    border-bottom: 3px solid #0FA8D7;
    color: #0FA8D7;
    font-weight: bold;
}

.buttonStyle {
  // position: fixed;
  left: 0;
  bottom: 0px;
  right: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

ion-content {
  --background: #e6e6e6;
}

.backgroundColor ion-item{
  --background: #e6e6e6 !important;
}

.colorUsername{
  color: #0FA8D7;
  font-weight: bold;
}