<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="Retour" defaultHref="details-student"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Demande de cours</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentModalDocument()" color="light">
        <ion-icon name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-item>
    <ion-label><b>Date du cours :</b></ion-label>
    <ion-datetime doneText="OK" cancelText="Annuler" displayFormat="DD/MM/YYYY" pickerFormat="MMM D" [(ngModel)]="newEvent.day" ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label><b>Heure de début :</b></ion-label>
    <ion-datetime doneText="OK" cancelText="Annuler" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="newEvent.startTime" ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label><b>Heure de fin :</b></ion-label>
    <ion-datetime doneText="OK" cancelText="Annuler" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="newEvent.endTime" ></ion-datetime>
  </ion-item>
  <ion-item lines="none">
    <ion-label><b>Nom de l'enfant :</b></ion-label>
    <ion-select cancelText="Annuler" okText="Valider" [(ngModel)]="valueEnfant" >
      <ion-select-option [value]="enfant" *ngFor="let enfant of enfants; let i = index">{{ enfant.firstname }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label><b>Nom de l'étudiant</b></ion-label>
    <h2> {{ studentName }}</h2>
  </ion-item>
  <ion-item lines="none">
    <ion-label><b>Matière :</b></ion-label>
    <ion-select cancelText="Annuler" okText="Valider" [(ngModel)]="valueSubject" >
      <ion-select-option [value]="subject" *ngFor="let subject of subjects; let i = index">{{ subject.label }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="blue" expand="block" (click)="addDemand()">Valider la demande</ion-button>

</ion-content>
