<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="Retour" defaultHref="tabs/list"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">ResteChezToi</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentModalDocument()" color="light">
        <ion-icon name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons *ngIf="showStudents" slot="end">
      <ion-button style="background-color: #0FA8D7; border-radius: 30%;" color="light"> -->
        <!-- <ion-icon name="person-add-outline"></ion-icon> -->
        <!-- <ion-icon name="people-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" color="light">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-item  class="new-background-color"  lines="none" [(ngModel)]="student" ngDefaultControl>
    <ion-avatar slot="start" style="height: 90px; width: 90px;" >
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-col>
      <h2 style="text-align: center;" >{{ student.first_name }} {{ student.last_name }}</h2>
      <p style="text-align: center;" > {{ student.description }}</p>
      <ion-button style="border-radius: 30%;" (click)="gotoDemandCourse(student.first_name, student.last_name, student.id)" color="blue"> 
        Mettre en relation
      </ion-button>
    </ion-col>
  </ion-item>
    <ion-segment *ngIf="showDocument" style="background-color: white; color: black; border-color: white;" (ionChange)="segmentChanged($event)" value="apropos">
      <ion-segment-button value="apropos" >
        <ion-label>A propos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="matieres">
        <ion-label>Matières</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="category" *ngIf="showDocument" class="backgroundColor">
      <ion-list *ngSwitchCase="'apropos'">
        <div [(ngModel)]="student" ngDefaultControl>
          <ion-item  lines="none">  
              <h6 style="font-weight: bold;">A propos de moi</h6> 
          </ion-item>
          <ion-item  lines="none">  
              <p>{{ student.description }}</p>
          </ion-item>
        </div>
        <div [(ngModel)]="student" ngDefaultControl>
          <ion-item  lines="none">  
            <h6 style="font-weight: bold;">Ma dernière formation :</h6> 
        </ion-item>
          <ion-item  lines="none">
            <ion-label>
              <h2>{{ student.formation }}</h2>
              <h3>{{ student.school }}</h3>
            </ion-label>
          </ion-item>
    </div>
      </ion-list>
      <ion-list class="backgroundColor" *ngSwitchCase="'matieres'">
        <ion-item  lines="none">  
          <h6 class="colorUsername" >Les matières où je peux aider :</h6> 
      </ion-item>
        <div [(ngModel)]="student" ngDefaultControl>
          <ion-item lines="none" *ngFor="let subject of subjects; let i = index">        
            <ion-label >
              <h2 style="font-weight: bold;">{{ subject.label }}</h2>
              <ion-item lines="none" *ngFor="let grade of grades; let i = index">
                <ion-label>
                  <p style="font-weight: bold;">Niveau : {{ grade.label }}</p>
                </ion-label>
              </ion-item>
            </ion-label>
          </ion-item>
        </div>
        </ion-list>
  </div>
<div *ngIf="!showDocument" class="backgroundColor">
  <ion-item  lines="none">  
    <h6 style="font-weight: bold;">Carte d'identite : </h6>
    <ion-button slot="end" color="blue"><ion-icon name="download-outline"></ion-icon></ion-button>
 </ion-item>
 <ion-item lines="none">  
   <h6 style="font-weight: bold;">Carte étudiante : </h6>
     <ion-button slot="end" color="blue"><ion-icon name="download-outline"></ion-icon></ion-button>
 </ion-item>
 <ion-item lines="none">  
   <h6 style="font-weight: bold;">Certificat de scolarité : </h6>
     <ion-button slot="end" color="blue"><ion-icon name="download-outline"></ion-icon></ion-button>
 </ion-item>
</div>
</ion-content>
