<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="showStudents" color="light">Liste des étudiants</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" color="light">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showStudents">
    <ion-item lines="none">
      <ion-label>Spécialité</ion-label>
      <ion-select cancelText="Annuler" okText="Valider" [(ngModel)]="subjectId" (ionChange)="onChange()">
        <ion-select-option [value]="subject.id" *ngFor="let subject of subjects; let i = index">{{ subject.label }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Niveau</ion-label>
      <ion-select cancelText="Annuler" okText="Valider" [(ngModel)]="gradeId" (ionChange)="onChange()">
        <ion-select-option [value]="grade.id" *ngFor="let grade of grades; let i = index">{{ grade.label }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-searchbar placeholder="Rechercher un(e) étudiant(e)"></ion-searchbar>
  <div class="backgroundColor" *ngFor="let student of students; let i = index">
    <ion-item (click)="presentModalStudent(student)" lines="none">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h2 class="colorUsername">{{ student.first_name }} {{ student.last_name }}</h2>
        <h3>{{ student.description }}</h3>
      </ion-label>
      <!-- <ion-icon slot="end" [color]="student.color" name="star"></ion-icon>
      <ion-icon slot="end" [color]="s.color" name="heart-outline"></ion-icon> -->
    </ion-item>
</div>
</ion-content>