.new-background-color{
    --background: #000000;
  }

  ion-content {
  --background: #e6e6e6;
}

ion-searchbar {
  --background: #ffffff;
}

.backgroundColor ion-item{
  --background: #e6e6e6 !important;
}

.colorUsername{
  color: #0FA8D7;
  font-weight: bold;
}