<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Messages</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-searchbar placeholder="Que recherchez-vous ?"></ion-searchbar>
  <ion-grid fixed>
    <div class="backgroundColor" *ngFor="let m of messages; let i = index">
      <ion-item (click)="goMessageDetail(m)" lines="none">
        <ion-avatar slot="start">
          <img [src]="m.profile_img" >
        </ion-avatar>
        <ion-label>
          <h2 style="font-weight: bold">{{ m.sender  }}</h2>
          <h3>{{ m.last_message }}</h3>
        </ion-label>
          <ion-note slot="end" item-right style="padding-left: 2px; color: #292a2b; font-size: 12px;">{{ m.time }}</ion-note>
      </ion-item>
  </div>
  </ion-grid>
  
</ion-content>
