<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="blue" (click)="showHideForm()">
      <ion-icon *ngIf="!showAddEvent" name="add"></ion-icon>
      <ion-icon *ngIf="showAddEvent" name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item  class="new-background-color"  lines="none" >
    <ion-avatar slot="start" style="height: 90px; width: 90px;" >
      <img [src]="profile.image" >
    </ion-avatar>
    <ion-col>
      <h2 style="text-align: center;" >{{ nomPrenom }}</h2>      
      <!-- <p style="text-align: center;" > {{profile.description}}</p> -->
    </ion-col>
  </ion-item>
  <div class="backgroundColor" *ngFor="let e of enfants; let i = index">
    <ion-item lines="full"  *ngIf="!showAddEvent">
      <ion-label>
        <ion-item class="ion-no-padding ion-no-margin" lines="none">
          <h1 slot="start" style="margin-left: 0rem !important;" class="colorUsername">{{ e.firstname }}</h1>
            <ion-icon (click)="deleteChild(e.id)" color="danger" slot="end"  name="close-outline"></ion-icon>
          </ion-item>
            <ion-row style="margin-bottom: 0.5rem;">
              <h2 style="font-weight: bold; margin-right: 0.5rem;">Classe : </h2>
              <h2>{{ e.grade.label }}</h2>
          </ion-row>
          <ion-row style="margin-bottom: 0.5rem;">
            <h2 style="font-weight: bold; margin-right: 0.5rem;">Age de l'enfant : </h2>
            <h2>{{ e.age }} ans</h2>
        </ion-row>
      </ion-label>
    </ion-item>
</div>

<div *ngIf="showAddEvent" class="ion-padding">
  <h2>Ajouter un enfant :</h2>
  <ion-item>
    <ion-label><b>Nom de l'enfant :</b></ion-label>
    <ion-input type="text" placeholder="Jean DUPONT" [(ngModel)]="newEvent.nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Age de l'enfant :</b></ion-label>
    <ion-input type="number" placeholder="5" [(ngModel)]="newEvent.age"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label><b>Classe de l'enfant :</b></ion-label>
    <ion-select multiple="false"  [(ngModel)]="valueGrade" cancelText="Annuler" okText="Valider">
      <ion-select-option [value]="grade"  *ngFor="let grade of grades; let i = index">{{ grade.label }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="blue" expand="block" (click)="addChild()">Ajouter</ion-button>
</div>

</ion-content>
