.new-background-color{
    --background: #000000;
  }

  ion-content {
  --background: #e6e6e6;
}

ion-header ion-avatar {
  padding: 3px;
}

.backgroundColor ion-item{
  --background: #e6e6e6 !important;
}

.colorUsername{
  color: #0FA8D7;
  font-weight: bold;
}

ion-footer ion-toolbar {
  --background: #000000;
}
ion-footer ion-button {
  font-weight: 600;
}
ion-input {
  background: white !important;
  height: 31px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 4px;
  border: 1px #dfdfdf solid;
  --padding-start: 8px;
}

ion-item {
  --background: transparent;
}
ion-badge {
  padding: 6px 9px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 15px;
  box-shadow: 1px 1px 3px #00000029;
}
ion-item ion-note {
  font-size: 10px;
  margin-left: 8px;
}
ion-item ion-note ion-icon{
  font-size: 20px;
  margin-bottom: -6px;
  margin-left: -2px;
}