<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons (click)="modalController.dismiss()" slot="start">
      <ion-back-button defaultHref="tabs/message" color="light" text="Conv."></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ message.person }}</ion-title>
    <ion-avatar slot="end">
      <img [src]="message.profile_img">
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-item lines="none">
    <ion-badge color="blue" slot="end" style="color: black;">Bonjour Pierre, comment allez-vous ? <ion-note color="dark">21:16 <ion-icon name="checkmark-done-outline"></ion-icon></ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="light" slot="start">Bonjour, je vais plutôt bien merci.<ion-note color="medium">21:17</ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="light" slot="start">Comment se passe les devoirs avec Marc ?<ion-note color="medium">21:17</ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="blue" style="color: black;" slot="end">Il progresse vite et est très sérieux !<ion-note color="dark">21:17 <ion-icon name="checkmark-done-outline"></ion-icon></ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="light" slot="start">Tant mieux.<ion-note color="medium">21:18</ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="blue" style="color: black;" slot="end">Merci de votre confiance ! <ion-note color="dark">21:16 <ion-icon name="checkmark-done-outline"></ion-icon></ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="light" slot="start">Merci à vous de m'aider.<ion-note color="medium">21:16 </ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="blue" style="color: black;" slot="end">Bonne journée.<ion-note color="dark">21:18 <ion-icon name="checkmark-done-outline"></ion-icon></ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="light" slot="start">Bonne journée à vous aussi.<ion-note color="medium">21:16 </ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="blue" style="color: black;" slot="end">Merci et à la prochaine.<ion-note color="dark">21:17 <ion-icon name="checkmark-done-outline"></ion-icon></ion-note></ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-badge color="light" slot="start">Pas de problème.<ion-note color="medium">21:17 </ion-note></ion-badge>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button >
        <ion-icon color="light" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input style="margin-right: 1rem;" placeholder="Votre message"></ion-input>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" size="small">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>