<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Calendrier</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="blue" (click)="showHideForm()">
        <ion-icon *ngIf="!showAddEvent" name="add"></ion-icon>
        <ion-icon *ngIf="showAddEvent" name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-calendar *ngIf="!showAddEvent" [(ngModel)]="dateRange"
    [options]="optionsRange" 
    [type]="type"
    [format]="'YYYY-MM-DD'">
    </ion-calendar>

    <div *ngIf="showAddEvent" class="ion-padding">
      <ion-item>
        <ion-label><b>Titre:</b></ion-label>
        <ion-input type="text" placeholder="Titre" [(ngModel)]="newEvent.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Description:</b></ion-label>
        <ion-input type="text" placeholder="Description" [(ngModel)]="newEvent.description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Image:</b></ion-label>
        <ion-input type="text" placeholder="URL de l'image" [(ngModel)]="newEvent.imageURL"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Début</b></ion-label>
        <ion-datetime doneText="OK" cancelText="Annuler" i18n displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D HH:mm" [(ngModel)]="newEvent.startTime" [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label><b>Fin</b></ion-label>
        <ion-datetime doneText="OK" cancelText="Annuler" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D HH:mm" [(ngModel)]="newEvent.endTime" [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-button color="blue" expand="block" (click)="addEvent()">Ajouter</ion-button>
    </div>

  </div>
</ion-content>
