<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Sessions de soutien</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-segment style="background-color: white; color: black; border-color: white;" (ionChange)="segmentChanged($event)" value="VALIDATED">
    <ion-segment-button value="VALIDATED" >
      <ion-label>Validé</ion-label>
    </ion-segment-button>
    <ion-segment-button value="AWAITING">
      <ion-label>En attente</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'VALIDATED'">
        <div class="backgroundColor" *ngFor="let vc of validatedCourses; let i = index">
          <ion-item lines="none">
            <ion-label>
              <h2 style="font-weight: bold">{{ vc.child.firstname }} ({{ vc.child.grade.label }})</h2>
              <h3>{{ vc.subject.label }} avec {{ vc.student.first_name}} {{ vc.student.last_name}}</h3>
            </ion-label>
              <ion-note slot="end" item-right style="padding-left: 2px; color: #292a2b; font-size: 12px;">{{ toDateTimeString(vc.date, vc.timeStart, vc.timeEnd) }}</ion-note>
          </ion-item>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'AWAITING'">
      <!-- <ion-grid fixed> -->
        <div class="backgroundColor" *ngFor="let ac of awaitingCourses; let i = index">
          <ion-item lines="none">
            <ion-label>
              <h2 style="font-weight: bold">{{ ac.child.firstname }} ({{ ac.child.grade.label }})</h2>
              <h3>{{ ac.subject.label }} avec {{ ac.student.first_name}} {{ ac.student.last_name}}<</h3>
            </ion-label>
              <ion-note slot="end" item-right style="padding-left: 2px; color: #292a2b; font-size: 12px;">{{ toDateTimeString(ac.date, ac.timeStart, ac.timeEnd) }}</ion-note>
          </ion-item>
      </div>
      <!-- </ion-grid>   -->
  </ion-list>
</div>

</ion-content>
